@model GinPair.Models.AddEventVM;
@{
    ViewData["Title"] = "AddEvent";
}

<h1>Add new Event Page</h1>

@using(Html.BeginForm("AddEvent", "Home", FormMethod.Post)) {
    <p>Name: @Html.TextBoxFor(m => m.EventName) </p>
    <input type="submit" value="Add Event">
}