  @model GinPair.Models.AddGntVM
@{
	ViewData["Title"] = "Add";
}

<h1>Found something missing?</h1>
<h2>Add it here!</h2>
<div class="container mt-4">
	<div class="accordion" id="accordion">
		<div class="accordion-item">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#addGinForm" aria-expanded="true" aria-controls="addGinForm">
				<h4 class="accordion-header" id="addGinHeader">
					Add Gin
				</h4>
			</button>
			<div class="accordion-collapse collapse show" id="addGinForm" aria-labelledby="addGinHeader" data-bs-parent="#accordion">
				<div class="accordion-body">
					<p id="addGinResult" class="container"></p>
					<p class="mb-2">Add a gin to our collection</p>
					<form asp-action="AddGin" method="post">
						<p>
							Distillery / Brand:  *
							<input id="distilleryInput" type="text" placeholder="e.g. Hendrick's" class="form-control w-50" />
						</p>
						<p>
							Gin Name / Flavour:  *
							<input id="ginNameInput" type="text" placeholder="e.g. Original" class="form-control w-50" />
						</p>
						<p>
							Short Description:
							<textarea id="descriptionInput" type="text" class="form-control mt-1 w-50"></textarea>
						</p>
						<button id="addGinButton" type="button" class="btn btn-primary">Add</button>
					</form>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#addPairingForm" aria-expanded="false" aria-controls="addPairingForm">
				<h4 class="accordion-header" id="addPairingHeader">
					Add Pairing
				</h4>
			</button>
			<div class="accordion-collapse collapse" id="addPairingForm" aria-labelledby="addPairingHeader" data-bs-parent="#accordion">
				<div class="accordion-body">
					<p class="mb-2">Select a gin and tonic to pair together</p>
					@using (Html.BeginForm("AddGnt", "Home", FormMethod.Post))
					{
						<p>
							Gin to pair: <br />
							@Html.DropDownListFor(m => m.GinId, Model.Gins, "Select gin", new { @class = "form-select mt-1 w-50" })
						</p>
						<p>
							Tonic to pair: <br />
							@Html.DropDownListFor(m => m.TonicId, Model.TonicFlavours, "Select tonic", new { @class = "form-select mt-1 w-50" })
						</p>
						<input class="btn btn-primary" type="submit" value="Pair">
					}
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#addTonicForm" aria-expanded="false" aria-controls="addTonicForm">
				<h4 class="accordion-header" id="addTonicHeader">
					Add Tonic
				</h4>
			</button>
			<div class="accordion-collapse collapse" id="addTonicForm" aria-labelledby="addTonicHeader" data-bs-parent="#accordion">
				<div class="accordion-body">
					@if (Model.IsTonicInvalid)
					{
						<p class="text-danger">This tonic is already part of our collection!</p>
					}
					<p class="mb-2">Add a new tonic to our collection</p>
					@using (Html.BeginForm("AddGnt", "Home", FormMethod.Post))
					{
						<p>
							Tonic Brand:    *<br />
							@Html.TextBoxFor(m => m.TonicBrand, new { @placeholder = "e.g. FeverTree", @class = "form-control mt-1 w-50" })
						</p>
						<p>
							Tonic Flavour:  *<br />
							@Html.TextBoxFor(m => m.TonicFlavour, new { @placeholder = "e.g. Indian", @class = "form-control mt-1 w-50" })
						</p>
						<input class="btn btn-primary" type="submit" value="Add Tonic">
					}
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		// Reset message
		function ResetMessage() {
			document.getElementById("addGinResult").innerText = "";
			$("#addGinResult").removeClass("alert alert-primary alert-success alert-warning alert-danger");
		};
		document.getElementById("ginNameInput").addEventListener("click", ResetMessage);
		document.getElementById("distilleryInput").addEventListener("click", ResetMessage);
		document.getElementById("descriptionInput").addEventListener("click", ResetMessage);
		// Add Gin
		$("#addGinButton").click(function(data) {
			var ginName = $("#ginNameInput").val();
			console.log(ginName);
			var distillery = $("#distilleryInput").val();
			console.log(distillery);
			var description = $("#descriptionInput").val();
			console.log("button clicked");
			$.ajax({
				url: "/api/ginapi/addGin/",
				type: "POST",
				contentType: "application/problem+json; charset=utf-8",
				data: JSON.stringify({
					ginName: ginName,
					distillery: distillery,
					description: description
				}),
				success: function(response){
					$("#addGinResult").html(response.statusMessage);
					switch(response.bsColor){
						case 1:
							$("#addGinResult").addClass("alert alert-success");
							$("#ginNameInput").val("");
							$("#distilleryInput").val("");
							$("#descriptionInput").val("");
							break;
						case 2:
							$("#addGinResult").addClass("alert alert-warning");
							break;
						case 3:
							$("#addGinResult").addClass("alert alert-danger");
							break;
					}
				},
				error: function(){
					console.log("An error occured in api.")
				}
			});
		});
	</script>
}
