  @model GinPair.Models.AddGntVM
@{
	ViewData["Title"] = "Add";
}

<h1>Found something missing?</h1>
<h2>Add it here!</h2>
<div class="container mt-4">
	<div class="accordion" id="accordion">
		<div class="accordion-item">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#addGinForm" aria-expanded="true" aria-controls="addGinForm">
				<h3 class="accordion-header" id="addGinHeader">
					Add Gin
				</h3>
			</button>
			<div class="accordion-collapse collapse show" id="addGinForm" aria-labelledby="addGinHeader" data-bs-parent="#accordion">
				<div class="accordion-body">
					<p class="mb-2">Add a gin to our collection</p>
					<form asp-action="AddGin" method="post">
						<p>
							Distillery / Brand:  *
							<input id="distilleryInput" type="text" placeholder="e.g. Hendrick's" class="form-control w-50" />
						</p>
						<p>
							Gin Name / Flavour:  *
							<input id="ginNameInput" type="text" placeholder="e.g. Original" class="form-control w-50" />
						</p>
						<p>
							<label for="descriptionInput">Short Description:</label>
							<textarea id="descriptionInput" type="text" class="form-control mt-1 w-50"></textarea>
						</p>
						<button id="addGinButton" type="button" class="btn btn-primary">Add</button>
					</form>
					<p id="addGinResult" class="container mt-4"></p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#addPairingForm" aria-expanded="false" aria-controls="addPairingForm">
				<h3 class="accordion-header" id="addPairingHeader">
					Add Pairing
				</h3>
			</button>
			<div class="accordion-collapse collapse" id="addPairingForm" aria-labelledby="addPairingHeader" data-bs-parent="#accordion">
				<div class="accordion-body">
					<p class="mb-2">Select a gin and tonic to pair together</p>
					<form asp-action="AddPairing" method="post">
						<p>
							Gin to pair:
							<select id="ginDropDown" class="form-select mt-1 w-50"></select>
						</p>
						<p>
							Tonic to pair:
							<select id="tonicDropDown" class="form-select mt-1 w-50"></select>
						</p>
						<button id="addPairingButton" type="button" class="btn btn-primary">Pair</button>
					</form>
					<p id="addPairingResult" class="container mt-4"></p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#addTonicForm" aria-expanded="false" aria-controls="addTonicForm">
				<h3 class="accordion-header" id="addTonicHeader">
					Add Tonic
				</h3>
			</button>
			<div class="accordion-collapse collapse" id="addTonicForm" aria-labelledby="addTonicHeader" data-bs-parent="#accordion">
				<div class="accordion-body">
					<p class="mb-2">Add a new tonic to our collection</p>
					<form asp-action="AddTonic" method="post">
						<p>
							Tonic Brand:    *
							<input id="tonicBrandInput" type="text" placeholder="e.g. Fever Tree" class="form-control mt-1 w-50" />
						</p>
						<p>
							Tonic Flavour:  *
							<input id="tonicFlavourInput" type="text" placeholder="e.g. Indian" class="form-control mt-1 w-50" />
						</p>
						<button id="addTonicButton" type="button" class="btn btn-primary">Add</button>
					</form>
					<p id="addTonicResult" class="container mt-4"></p>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		// Get lists of gins and tonics
		function PopulateLists() {
			$.ajax({
				url: "/api/ginapi/getGinList/",
				type: "GET",
				success: function (data) {
					var dropdown = $("#ginDropDown");
					dropdown.empty();
					dropdown.append("<option selected='true' disabled>Choose Gin</option>");
					dropdown.prop("selectedIndex", 0);

					$.each(data, function (key, entry) {
						dropdown.append($('<option></option>').attr('value', entry.value).text(entry.text));
					});
				},
				error: function (error) {
					console.log(error);
				}
			});
			$.ajax({
				url: "/api/ginapi/getTonicList/",
				type: "GET",
				success: function (data) {
					var dropdown = $("#tonicDropDown");
					dropdown.empty();
					dropdown.append("<option selected='true' disabled>Choose Tonic</option>");
					dropdown.prop("selectedIndex", 0);

					$.each(data, function (key, entry) {
						dropdown.append($('<option></option>').attr('value', entry.value).text(entry.text));
					});
				},
				error: function (error) {
					console.log(error);
				}
			});
		}
		$(document).ready(function(){
			PopulateLists();
		});

		// Reset message
		function ResetMessage() {
			document.getElementById("addGinResult").innerText = "";
			document.getElementById("addTonicResult").innerText = "";
			document.getElementById("addPairingResult").innerText = "";
			$("#addGinResult").removeClass("alert alert-primary alert-success alert-warning alert-danger");
			$("#addTonicResult").removeClass("alert alert-primary alert-success alert-warning alert-danger");
			$("#addPairingResult").removeClass("alert alert-primary alert-success alert-warning alert-danger");
		};
		document.getElementById("ginNameInput").addEventListener("click", ResetMessage);
		document.getElementById("distilleryInput").addEventListener("click", ResetMessage);
		document.getElementById("descriptionInput").addEventListener("click", ResetMessage);
		document.getElementById("tonicBrandInput").addEventListener("click", ResetMessage);
		document.getElementById("tonicFlavourInput").addEventListener("click", ResetMessage);
		document.getElementById("ginDropDown").addEventListener("click", ResetMessage);
		document.getElementById("tonicDropDown").addEventListener("click", ResetMessage);


		// Add Gin
		$("#addGinButton").click(function(data) {
			var ginName = $("#ginNameInput").val();
			console.log(ginName);
			var distillery = $("#distilleryInput").val();
			console.log(distillery);
			var description = $("#descriptionInput").val();
			console.log("button clicked");
			$.ajax({
				url: "/api/ginapi/addGin/",
				type: "POST",
				contentType: "application/problem+json; charset=utf-8",
				data: JSON.stringify({
					ginName: ginName,
					distillery: distillery,
					description: description
				}),
				success: function(response){
					$("#addGinResult").html(response.statusMessage);
					switch(response.bsColor){
						case 1:
							$("#addGinResult").addClass("alert alert-success");
							$("#ginNameInput").val("");
							$("#distilleryInput").val("");
							$("#descriptionInput").val("");
							PopulateLists();
							break;
						case 2:
							$("#addGinResult").addClass("alert alert-warning");
							break;
						case 3:
							$("#addGinResult").addClass("alert alert-danger");
							break;
					}
				},
				error: function(){
					console.log("An error occurred in api.")
				}
			});
		});
		// Add Paring
		$("#addPairingButton").click(function(data) {
			console.log("button clicked");
			var ginId = $("#ginDropDown").val();
			console.log(ginId);
			var tonicId = $("#tonicDropDown").val();
			console.log(tonicId);
			$.ajax({
				url: "/api/ginapi/addPairing/",
				type: "POST",
				contentType: "application/problem+json; charset=utf-8",
				data: JSON.stringify({
					ginId: ginId,
					tonicId: tonicId
				}),
				success: function(response){
					$("#addPairingResult").html(response.statusMessage);
					switch(response.bsColor){
						case 1:
							$("#addPairingResult").addClass("alert alert-success");
							PopulateLists();
							break;
						case 2:
							$("#addPairingResult").addClass("alert alert-warning");
							break;
						case 3:
							$("#addPairingResult").addClass("alert alert-danger");
							break;
					}
				},
				error: function(){
					console.log("An error occurred in api.")
				}
			});
		});
		// Add Tonic
		$("#addTonicButton").click(function(data) {
			console.log("button clicked");
			var tonicBrand = $("#tonicBrandInput").val();
			console.log(tonicBrand);
			var tonicFlavour = $("#tonicFlavourInput").val();
			console.log(tonicFlavour);
			$.ajax({
				url: "/api/ginapi/addTonic/",
				type: "POST",
				contentType: "application/problem+json; charset=utf-8",
				data: JSON.stringify({
					tonicBrand: tonicBrand,
					tonicFlavour: tonicFlavour
				}),
				success: function(response){
					$("#addTonicResult").html(response.statusMessage);
					switch(response.bsColor){
						case 1:
							$("#addTonicResult").addClass("alert alert-success");
							$("#tonicBrandInput").val("");
							$("#tonicFlavourInput").val("");
							PopulateLists();
							break;
						case 2:
							$("#addTonicResult").addClass("alert alert-warning");
							break;
						case 3:
							$("#addTonicResult").addClass("alert alert-danger");
							break;
					}
				},
				error: function(){
					console.log("An error occurred in api.")
				}
			});
		});
	</script>
}
