@model GinPair.Models.DeleteGntVM
@{
	ViewData["Title"] = "Delete";
}

<h1>Found something wrong?</h1>
<h2>Remove it here!</h2>
<div class="container mt-4">
	<div class="accordion" id="accordion">
		<div class="accordion-item">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#deleteGinForm" aria-expanded="true" aria-controls="deleteGinForm">
				<h4 class="accordion-header" id="deleteGinHeader">
					Remove Gin
				</h4>
			</button>
			<div class="accordion-collapse collapse show" id="deleteGinForm" aria-labelledby="deleteGinHeader" data-bs-parent="#accordion">
				<div class="accordion-body">
					<form asp-action="RemoveGin" method="post">
						<p>
							Gin to remove:
							<select id="ginDropDown" class="form-select mt-1 w-50"></select>
						</p>
						<button id="ginDeleteButton" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteGinModal">
							Remove
						</button>
					</form>
					<p id="deleteGinResult" class="container mt-4"></p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#deleteTonicForm" aria-expanded="true" aria-controls="deleteTonicForm">
				<h4 class="accordion-header" id="deleteTonicHeader">
					Remove Tonic
				</h4>
			</button>
			<div class="accordion-collapse collapse" id="deleteTonicForm" aria-labelledby="deleteTonicHeader" data-bs-parent="#accordion">
				<div class="accordion-body">
					<form asp-action="RemoveTonic" method="post">
						<p>
							Tonic to remove:
							<select id="tonicDropDown" class="form-select mt-1 w-50"></select>
						</p>
						<button id="tonicDeleteButton" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteTonicModal">
							Remove
						</button>
					</form>
					<p id="deleteTonicResult" class="container mt-4"></p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#deletePairingForm" aria-expanded="true" aria-controls="deletePairingForm">
				<h4 class="accordion-header" id="deletePairingHeader">
					Remove Pairing
				</h4>
			</button>
			<div class="accordion-collapse collapse" id="deletePairingForm" aria-labelledby="deletePairingHeader" data-bs-parent="#accordion">
				<div class="accordion-body">
					<form asp-action="RemoveTonic" method="post">
						<p>
							Pairing to remove:
							<select id="pairingDropDown" class="form-select mt-1 w-50"></select>
						</p>
						<button id="pairingDeleteButton" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletePairingModal">
							Remove
						</button>
					</form>
					<p id="deletePairingResult" class="container mt-4"></p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteGinModal" tabindex="-1" role="dialog" aria-labelledby="deleteGinModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteGinModalLabel">Remove Gin</h5>
				<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Are sure you wish to remove "<span id="selectedGinText"></span>" gin from the collection?</p>
				<div class="modal-footer">
					<button id="modalDeleteGinButton" type="submit" class="btn btn-danger">Remove</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteTonicModal" tabindex="-1" role="dialog" aria-labelledby="deleteTonicModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteTonicModalLabel">Remove Tonic</h5>
				<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Are sure you wish to remove "<span id="selectedTonicText"></span>" tonic from the collection?</p>
				<div class="modal-footer">
					<button id="modalDeleteTonicButton" type="submit" class="btn btn-danger">Remove</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deletePairingModal" tabindex="-1" role="dialog" aria-labelledby="deletePairingModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deletePairingModalLabel">Remove Pairing</h5>
				<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Are sure you wish to remove "<span id="selectedPairingText"></span>" pairing from the collection?</p>
				<div class="modal-footer">
					<button id="modalDeletePairingButton" type="submit" class="btn btn-danger">Remove</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		// Update selected gin and tonic modal text
		document.getElementById("ginDropDown").addEventListener("change", function () {
			var selectedGinText = $("#ginDropDown option:selected").text();
			$("#selectedGinText").text(selectedGinText);
		});
		document.getElementById("tonicDropDown").addEventListener("change", function () {
			var selectedTonicText = $("#tonicDropDown option:selected").text();
			$("#selectedTonicText").text(selectedTonicText);
		});
		document.getElementById("pairingDropDown").addEventListener("change", function () {
			var selectedPairingText = $("#pairingDropDown option:selected").text();
			$("#selectedPairingText").text(selectedPairingText);
		});

		// Get lists of gins and tonics
		function PopulateLists() {
			$.ajax({
				url: "/api/ginapi/getGinList/",
				type: "GET",
				success: function (data) {
					var dropdown = $("#ginDropDown");
					dropdown.empty();
					dropdown.append("<option selected='true' disabled>Choose Gin</option>");
					dropdown.prop("selectedIndex", 0);

					$.each(data, function (key, entry) {
						dropdown.append($('<option></option>').attr('value', entry.value).text(entry.text));
					});
				},
				error: function (error) {
					console.log(error);
				}
			});
			$.ajax({
				url: "/api/ginapi/getTonicList/",
				type: "GET",
				success: function (data) {
					var dropdown = $("#tonicDropDown");
					dropdown.empty();
					dropdown.append("<option selected='true' disabled>Choose Tonic</option>");
					dropdown.prop("selectedIndex", 0);

					$.each(data, function (key, entry) {
						dropdown.append($('<option></option>').attr('value', entry.value).text(entry.text));
					});
				},
				error: function (error) {
					console.log(error);
				}
			});
			$.ajax({
				url: "/api/ginapi/getPairingList/",
				type: "GET",
				success: function (data) {
					var dropdown = $("#pairingDropDown");
					dropdown.empty();
					dropdown.append("<option selected='true' disabled>Choose Pairing</option>");
					dropdown.prop("selectedIndex", 0);

					$.each(data, function (key, entry) {
						dropdown.append($('<option></option>').attr('value', entry.value).text(entry.text));
					});
				},
				error: function (error) {
					console.log(error);
				}
			});
		}
		$(document).ready(function(){
			PopulateLists();
		});

		// Reset message
		function ResetMessage() {
			document.getElementById("deleteGinResult").innerText = "";
			document.getElementById("deleteTonicResult").innerText = "";
			document.getElementById("deletePairingResult").innerText = "";
			$("#deleteGinResult").removeClass("alert alert-primary alert-success alert-warning alert-danger");
			$("#deleteTonicResult").removeClass("alert alert-primary alert-success alert-warning alert-danger");
			$("#deletePairingResult").removeClass("alert alert-primary alert-success alert-warning alert-danger");
		};
		document.getElementById("ginDropDown").addEventListener("click", ResetMessage);
		document.getElementById("tonicDropDown").addEventListener("click", ResetMessage);
		document.getElementById("pairingDropDown").addEventListener("click", ResetMessage);

		// Delete Gin
		$("#modalDeleteGinButton").click(function(data) {
			var ginId = $("#ginDropDown").val();
			$.ajax({
				url: "/api/ginapi/deleteGin/",
				type: "POST",
				contentType: "application/problem+json; charset=utf-8",
				data: JSON.stringify({
					ginId: ginId,
				}),
				success: function(response){
					$("#deleteGinModal").modal("hide");
					$("#ginDropDown").focus();
					$("#deleteGinResult").html(response.statusMessage);
					switch(response.bsColor){
						case 1:
							$("#deleteGinResult").addClass("alert alert-success");
							PopulateLists();
							break;
						case 2:
							$("#deleteGinResult").addClass("alert alert-warning");
							break;
						case 3:
							$("#deleteGinResult").addClass("alert alert-danger");
							break;
					}
				},
				error: function(){
					console.log("An error occurred in the api.")
				}
			});
		});

		// Delete Tonic
		$("#modalDeleteTonicButton").click(function(data) {
			var tonicId = $("#tonicDropDown").val();
			$.ajax({
				url: "/api/ginapi/deleteTonic/",
				type: "POST",
				contentType: "application/problem+json; charset=utf-8",
				data: JSON.stringify({
					tonicId: tonicId,
				}),
				success: function(response){
					$("#deleteTonicModal").modal("hide");
					$("#tonicDropDown").focus();
					$("#deleteTonicResult").html(response.statusMessage);
					switch(response.bsColor){
						case 1:
							$("#deleteTonicResult").addClass("alert alert-success");
							PopulateLists();
							break;
						case 2:
							$("#deleteTonicResult").addClass("alert alert-warning");
							break;
						case 3:
							$("#deleteTonicResult").addClass("alert alert-danger");
							break;
					}
				},
				error: function(){
					console.log("An error occurred in the api.")
				}
			});
		});

		// Delete Pairing
		$("#modalDeletePairingButton").click(function(data) {
			var pairingId = $("#pairingDropDown").val();
			$.ajax({
				url: "/api/ginapi/deletePairing/",
				type: "POST",
				contentType: "application/problem+json; charset=utf-8",
				data: JSON.stringify({
					pairingId: pairingId,
				}),
				success: function(response){
					$("#deletePairingModal").modal("hide");
					$("#pairingDropDown").focus();
					$("#deletePairingResult").html(response.statusMessage);
					switch(response.bsColor){
						case 1:
							$("#deletePairingResult").addClass("alert alert-success");
							PopulateLists();
							break;
						case 2:
							$("#deletePairingResult").addClass("alert alert-warning");
							break;
						case 3:
							$("#deletePairingResult").addClass("alert alert-danger");
							break;
					}
				},
				error: function(){
					console.log("An error occurred in the api.")
				}
			});
		});
	</script>
}