@model GinPair.Models.PairingVM

@{
    ViewData["Title"] = "Home";
}

<div class="container text-center">
    <h1 class="display-4">Welcome to Gin Pair</h1>
    <p class="mt-4">Your ultimate guide to the perfect gin and tonic pairing!<br>
        Find your favorite gin, and we'll show you the perfect tonic pairing.</p>
    <form asp-action="Index" method="get" class="row d-flex flex-row align-items-center mb-2 justify-content-center">
        <div class="col-4">
            <input id="ginSearchBox" type="text" name="searchString" placeholder="Start typing a gin..." value="@ViewData["CurrentFilter"]" class="form-control p-2" />
            <input id="ginSelectedId" type="hidden" name="searchId" />
        </div>
        <div class="col-auto">
            <button id="ginSearchButton" type="button" class="btn btn-primary">Search</button>
        </div> 
    </form>
    <div id="searchResult" class="container mt-4 col-4"></div>
</div>


@section Scripts 
{
    <script type="text/javascript"> 
        // Validate input
        document.getElementById("ginSearchBox").addEventListener("input", function (e) { 
            var regex = /^[a-zA-Z0-9'& ]*$/; 
            var input = e.target.value; 
            if (!regex.test(input)) 
            { 
                e.target.value = input.slice(0, -1); 
            } 
        });
        // Reset search box and message 
        document.getElementById("ginSearchBox").addEventListener("click", function(){
            this.value = "";
            document.getElementById("searchResult").innerText = "";
            document.getElementById("ginSelectedId").value = "";
            $("#searchResult").removeClass("alert alert-warning alert-primary");
        });
        // Enable enter key to trigger search
        document.getElementById("ginSearchBox").addEventListener("keypress", function(event){
            if(event.key === "Enter"){
                event.preventDefault();
                document.getElementById("ginSearchButton").focus();
                document.getElementById("ginSearchButton").click();
            }
        });
        // Auto complete gin as user types
        $(document).ready(function(){
            $("#ginSearchBox").autocomplete({
                source: function(request, response){
                    $.ajax({
                        url: "/api/ginapi/matchGin",
                        type: "GET",
                        data: { partial: request.term },
                        success: function(data) {
                            response($.map(data, function(item) {
                                return{
                                    label: item.distillery + " " + item.ginName,
                                    value: item.distillery + " " + item.ginName,
                                    id: item.ginId
                                };
                            }));
                        },
                        error: function(xhr, status, error){
                            $("#searchResult").text("An error occured: " + error);
                        }
                    });
                },
                minLength: 2,
                autoFocus: true,
                select: function(event, ui) {
                    selectedId = ui.item.id;
                    $("#ginSelectedId").val(selectedId);
                }
            });
        });
        // Use ginId to get pairing
        $("#ginSearchButton").click(function() {
            var ginSelectedId = $("#ginSelectedId").val();
            if(ginSelectedId){
                $.ajax({
                    url: "/api/ginapi/getPairing/" + ginSelectedId,
                    type: "GET",
                    success: function(response){
                        $("#searchResult").html(response.statusMessage);
						switch(response.bsColor){
							case 0:
								$("#searchResult").addClass("alert alert-primary");
								break;
							case 1:
								$("#searchResult").addClass("alert alert-success");
								break;
							case 2:
								$("#searchResult").addClass("alert alert-warning");
								break;
							case 3:
								$("#searchResult").addClass("alert alert-danger");
								break;
						}
                    },
                    error: function(){
                        console.error("An error occured when retrieving pairing");
                    }
                });
            } 
            else {
                document.getElementById("searchResult").innerHTML = "<p>Sorry, a gin matching \"" +  document.getElementById("ginSearchBox").value + "\" was not found!<br>Try searching again, or <a href='/Home/AddGnt/'>add it</a> to our collection.</p>";
                $("#searchResult").addClass("alert alert-warning");
            }
        });
    </script>
}
