@model GinPair.Models.PairingVM

@{
    ViewData["Title"] = "Home";
}

<div class="container text-center">
    <h1 class="display-4">Welcome to Gin Pair</h1>
    <p class="mt-4">Your ultimate guide to the perfect gin and tonic pairing!<br>
        Find your favorite gin, and we'll show you the perfect tonic pairing.</p>
    <form asp-action="Index" method="get" class="row d-flex flex-row align-items-center mb-2 justify-content-center">
        <div class="col-4">
            <input id="ginSearchBox" type="text" name="searchString" placeholder="Start typing a gin..." value="@ViewData["CurrentFilter"]" class="form-control p-2" />
        </div>
        <div class="col-auto">
            <button id="ginSearchButton" type="submit" class="btn btn-primary">Search</button>
        </div> 
    </form>
    
    @if (!String.IsNullOrEmpty(Model.Message))
    {
        <p class="mt-4">@Html.Raw(Model.Message)</p>
    }
</div>

<script>    
    document.getElementById("ginSearchBox").addEventListener("input", function (e) { 
        var regex = /^[a-zA-Z0-9'& ]*$/; 
        var input = e.target.value; 
        if (!regex.test(input)) 
        { 
            e.target.value = input.slice(0, -1); 
        } 
    });
</script>

<hr />
<h3><a href="/api/ginapi/">Go to API get</a></h3>

<div>
    <div id="data"></div>
</div>

<script>
    $(document).ready(function(){
        $.ajax({
            url: '/api/ginapi',
            type: 'GET',
            success: function(response) {
                $(#data).html(response);
            },
            error: function(xhr, status, error){
                $("#data").html("An error occured: " + error);
            }
        });
    });
</script>
    


<hr />
<div>
    <h3><a href="/api/ginapi/search">Go to API search</a></h3>
    <input type="text" id="searchbox" />
    <button id="searchbutton">search</button>
    <div id="searchresult"></div>
</div>
<script>
    $(document).ready(function(){
        $("#searchbutton").click(function(){
            var query1 = $("#searchbox").val();
            $.ajax({
                url: '/api/ginapi/search',
                type: 'GET',
                data: { query: query1 },
                success: function(response) {
                    var resultsHtml = "";
                    response.forEach(function(item){
                        resultsHtml += "<p>" + item.name + "</p>";
                    });
                    $("#searchresult").html(resultsHtml);
                },
                error: function(xhr, status, error){
                    $("#searchresult").text("An error occured: " + error);
                }
            });
        });
    });
</script>
