@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Gin Pair!</h1>
    <p>Your ultimate guide to the perfect gin and tonic pairing! Discover the art of balancing flavors with our expertly curated recommendations.</p>
</div>
