  @model GinPair.Models.NotifyUserGinVM  
  @{  
      ViewData["Title"] = "NotifyUserTonic";  
  }  

  <h1>Submission successful</h1>  
  <hr/>  

  <div class="text-center">  
      <h1 class="display-4">Thank you</h1>  
      @if(!string.IsNullOrEmpty(@Model.Message)){  
          <p>@Model.Message</p>  
      }  

      @using (Html.BeginForm("NotifyUserTonic", "Home", FormMethod.Post))  
      {  
          <input class="btn btn-primary" type="submit" value="Add another gin or tonic">  
      }  
  </div>  