@model GinPair.Models.NotifyUserEventVM
@{
    ViewData["Title"] = "NotifyUserEvent";
}

<h1>Submission successful</h1>

<hr/>

<div class="text-center">
    <h1 class="display-4">Thank you</h1>
    @if(!string.IsNullOrEmpty(@Model.Message)){
        <p>@Model.Message</p>
    }

    @using (Html.BeginForm("NotifyUserEvent", "Home", FormMethod.Post))
    {
        <input type="submit" value="Add another event">
    }


</div>

