  @model GinPair.Models.NotifyUserGinVM  
  @{  
      ViewData["Title"] = "NotifyUser";  
  }  

  <h1>Removal successful</h1>  
  <hr/>  

  <div class="text-center">  
      <h1 class="display-4">Success</h1>  
      @if(!string.IsNullOrEmpty(@Model.Message)){  
          <p>@Model.Message</p>  
      }  

      @using (Html.BeginForm("NotifyUserDeleteGin", "Home", FormMethod.Post))  
      {  
          <input class="btn btn-primary" type="submit" value="Remove another gin or tonic">  
      }  
  </div>  